
<div class="row">
    <div class="span8">
        {{ content }}
    </div>

    <div class="span4">
    	{% unless page.authors == empty %}
        <h4>Contributeurs</h4>
        <ul class="unstyled">
            {% for author in page.authors %}
            	{% for profile in site.profiles %}
	            	{% if author.name == profile.name %}
		                {% include JB/profile %}
		            {% endif %}
            	{% endfor %}
            {% endfor %}
        </ul>
        {% endunless %}
    	
        <h4>Date de publication</h4>
        <div class="date">
            <span>{{ page.date | date_to_long_string }}</span>
        </div>

        {% unless page.tags == empty %}
        <h4>Mots clés</h4>
        <ul class="tag_box">
            {% assign tags_list = page.tags %}
            {% include JB/tags_list %}
        </ul>
        {% endunless %}
    </div>
</div>

<hr>
<div class="pagination">
    <ul>
        {% if page.previous %}
        <li class="prev">
            <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Précédent</a>
        </li>
        {% else %}
        <li class="prev disabled">
            <a>&larr; Précédent</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Autres articles</a>
        </li>
        {% if page.next %}
        <li class="next">
            <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Suivant &rarr;</a>
        </li>
        {% else %}
        <li class="next disabled">
            <a>Suivant &rarr;</a>
            {% endif %}
    </ul>
</div>